.doctor {
  width: 100%;
  background-color: hsla(197, 78%, 47%, 0.576);
  margin: 0 auto;
  border-radius: 5px;
}

.doctor__title {
  margin-bottom: 70px;
  text-align: center;
  padding: 20px 0;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.doctor__title p {
  color: rgb(121, 121, 121);
}

.doctor__content {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

.doctor__content__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: none;
}

.doctor__content__item:hover {
  box-shadow: none !important;
}

.doctor__content__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor__content__item__img img {
  border-radius: 50%;
  width: 220px;
}

.doctor__content__item__text h3 {
  margin-bottom: 5px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.doctor__content__item__text p {
  margin-bottom: 0;
  color: #666;
  font-size: 14px;
}

.slick-list {
  width: 85%;
  margin: 0 auto;
}

.slick-prev {
  left: 0% !important;
  z-index: 1;
  background-color: #98bf11;
  width: 65px;
  height: 50px;
  border-radius: 0 45% 45% 0;
}

.slick-next {
  right: 0% !important;
  z-index: 1;
  background-color: #98bf11;
  width: 65px;
  height: 50px;
  border-radius: 45% 0 0 45%;
}

.slick-next:hover {
  background-color: #efefef;
}

.slick-prev:hover {
  background-color: #efefef;
}

@media (max-width: 1024px) {
  .doctor__content__item__img img {
    border-radius: 50%;
    width: 180px;
  }
}

@media (max-width: 768px) {
  .doctor__content {
    flex-direction: column;
  }

  .doctor__content__item {
    width: 100%;
    margin: 0;
  }

  .doctor__content__item__img img {
    width: 230px;
  }
}

@media (max-width: 576px) {
  .doctor__content__item__img img {
    border-radius: 50%;
    width: 100%;
  }
}
