
.myappointmentContainer {
  background-image: url('../../../public/images/my_appointments.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

table {
  margin: 350px 50px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: white;
  width:150px;
}

tr:nth-child(even) {
  background-color: rgba(11, 50, 61, 0.26);
}

@media (max-width: 768px) {
  .myappointmentContainer {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
