.single-doctor {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.single-doctor-img {
    width: 60%;
}

.single-doctor-img img {
    width: 100%;
    height: 60%;
}

.single-doctor-details {
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.doctor-name {
    margin-bottom: 25px;
    text-align: right;
}

.doctor-name h2 {
    font-size: 25px;
    font-weight: 600;
}

.doctor-name p {
    font-size: 12px;
}

.purchase-fee-details {
    width: 100%;
}

.purchase-fee-details div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    font-size: 13px;
}

.purchase-fee-details div:nth-child(odd) {
    background-color: rgb(230, 227, 227);
}

.representative-fee {
    padding: 15px 25px;
}

.discover-more {
    font-size: 16px;
    text-align: right;
    margin-bottom: 30px;
}

.discover-more a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.discover-more a > i {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 22px;
    color: #97be13;
}

.reserve-button {
    display: flex;
    justify-content: flex-end;
}

.reserve-button button {
    background-color: #97be13;
    border: 0px;
    padding: 12px 15px;
    border-radius: 23px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.reserve-button button i {
    margin: 0 8px;
    font-size: 16px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .single-doctor {
        flex-direction: column;
    }

    .single-doctor-img {
        width: 100%;
    }
    
    .single-doctor-img img {
        width: 100%;
        height: 100%;
    }

    .single-doctor-details {
        width: 100%;
        margin-top: 20px;
    }

    .purchase-fee-details div {
        width: 100%;
    }

    .reserve-button {
        justify-content: center;
        margin-top: 20px;
    }
}



