.navbar-links {
  display: flex;
  flex-direction: column;
}

a {
  padding: 5px 15px;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
  color: rgba(29, 15, 15, 0.623);
}

a:hover {
  background-color: #98bf11;
  color: white;
}

.nav-btn {
  display: none;
}

nav {
  padding: 20px;
  background-color: hsla(197, 66%, 64%, 0.576);
  border-radius: 25px;
  z-index: 20;
}

.logout-btn {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  background-color: #98bf11;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .nav-btn {
    display: block;
  }

  nav.desktop-navbar {
    display: none;
  }

  .removeNavbar {
    display: none;
  }

  .navbar-links a {
    border-radius: 20px;
  }
}
