.navbar-desktop-container{
    .humberger-icon 
    {
        display: none;
    }
.navbar-links {
  display: flex;
  flex-direction: column;
 
}
  a {
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: black;
  }

  a:hover {
    background-color: #98bf11;
    color: white;
  }
}


@media (max-width: 768px)
 {
  body{
    background-color: aqua;
    
  }
  .navbar-to-mobile{
  
    .navbar-links {
      display: flex;
      align-items: center;
      flex-direction: column;
     
    }
      a {
     
        text-decoration: none;
        font-weight: bolder;
        font-size: larger;
        color: black;
      }
    
      a:hover {
        background-color: #98bf11;
        color: white;
      }
  }
//     .navbar-desktop-container
//     {  
//       display: none;

// }
//  .navbar-mobile-container{
//   display: block;
// }  
// .navbar-links{
//   display: none;
// }
}

  