@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.row {
  width: 90%;
  margin: 0 auto;
}

/* .full-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* .main-container {
  width: 100%;
} */

.navbar-container {
  /* position: absolute;
  top: 50px;
  left: 20px; */
}

.active-nav-link {
  background-color: #98bf11 !important;
  color: #fff !important;
}
